<!DOCTYPE html>
<html>
<head>
    <title> Add  Motors </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link href="bootstrap.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>